:root { 
    --primary-color: #7e1dff;
    --button-color: brown;
    
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --button-hover-color: #ccc;
    --white: #fff;

}

body.dark-mode { 
    --secondary-color: #333;
    --text-color: #f0f0f0;
    --button-hover-color: #555;
    --white: #fff;
}

html { 
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}

body { 
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background: var(--secondary-color);

}

#theme-toggle { 
    position: absolute;
    top: 20px;
    right: 100px;
    background: transparent;
    border: 1px solid var(--text-color);
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    padding: 8px;
    cursor: pointer;
    transition: 0.2s;
}
#theme-toggle:hover { 
    background: var(--text-color);
}


nav{ 
    position: fixed;
    background: var(--secondary-color);
    padding:  10px 20px;
    left: 0;
    top: 0;
    width: 100%;
    display: grid;
    justify-content: center;
    li { 
        list-style: none; 
    }

    ul { 
        padding: 0; 
        display: flex;
        gap: 1rem;
    }

    a { 
        color: var(--text-color);
    }
}

a { 
    text-decoration: none;
    font-weight: bold;
    &:hover { 
        text-decoration: underline;
    }
}

main { 
    flex: 1;
    section { 
        min-height: 85vh;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10rem;
        a { 
            color: var(--primary-color);
        }
    }

    input { 
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid var(--text-color);
        border-radius: 8px;
    }

    form { 
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    textarea { 
        padding: 10px;
        border: 1px solid var(--text-color);
        border-radius: 8px;
        width: 100%;
        height: 100px;
    }

    button { 
        padding: 10px 20px;
        color: var(--white);
        background: var(--button-color);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
        &:hover { 
            background: var(--button-hover-color);
        }
    }
}


footer { 
    text-align: center;
    a { 
        color: var(--text-color);
        text-decoration: underline;
        font-weight: bold;   
    }
}
