html { 
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

body { 
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav{ 
    display: flex;
    align-items: center;
    justify-content: center;

    li { 
        list-style: none; 
    }

    ul { 
        display: flex;
        gap: 1rem;
    }

    a { 
        text-decoration: none;
        color: #333;
        font-weight: bold;
        &:hover { 
            text-decoration: underline;
        }
    }
}

main { 
    flex: 1;

    input { 
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    form { 
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    textarea { 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 100%;
        height: 100px;
    }

    button { 
        padding: 10px 20px;
        color: white;
        background-color: brown;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
        &:hover { 
            background-color: #ccc;
        }
    }
}


footer { 
    text-align: center;
}
